nb-card-body {
    overflow: visible;
    padding-top: 0;
  }
  
  nb-card-body > * {
    margin-top: 1rem;
  }
  
  .full-name-inputs,
  .validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .full-name-inputs > *,
  .validation-checkboxes > * {
    margin: 0 0.5rem;
  }
  
  .checkbox-radio {
    display: flex;
  }
  
  .demo-items {
    flex: 1 0 33%;
  }
  nb-card-body {
    overflow: visible;
    padding-top: 0;
  }
  
  nb-card-body > * {
    margin-top: 1rem;
  }
  
  .full-name-inputs,
  .validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .full-name-inputs > *,
  .validation-checkboxes > * {
    margin: 0 0.5rem;
  }
  
  .checkbox-radio {
    display: flex;
  }
  
  .demo-items {
    flex: 1 0 33%;
  }
    
  nb-select {
    width: 100%;
    display: block;
}

nb-option {
    padding: 10px;
}


  .buttons-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  


  .form-row {
    display: flex;
    gap: 20px; 
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column; 
  }
  
  .label {
    font-weight: 500;
    margin-bottom: 0.3rem;
  }
  
  /* Ajustement pour les petits écrans */
@media (max-width: 767px) {
  .form-group {
      width: 100%;
  }

  .form-row {
      flex-direction: column;
  }
}
