<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()">
          <img src="assets/images/logo1.png" alt="Ready To Plan" class="logo-img" />
        </a>
      </div>

      <div class="header-right">
        <nb-actions>
          <!-- Favorite Courses Dropdown -->
          <nb-action class="fav-action" [nbPopover]="favDropdown" nbPopoverPlacement="bottom">
            <nb-icon icon="star-outline" status="warning"></nb-icon>
          </nb-action>

          <ng-template #favDropdown>
            <div class="fav-dropdown">
              <div *ngFor="let course of favCourses" class="fav-item">
                <span>{{ course.title }}</span>
                <div class="fav-icons">
                  <button class="icon-btn" (click)="viewPresentation(course)">
                    <nb-icon icon="eye-outline"></nb-icon>
                  </button>
                  <button class="icon-btn" (click)="removeFromFav(course)">
                    <nb-icon icon="close-outline"></nb-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="favCourses.length === 0" class="empty-msg">
                No favorite courses
              </div>
            </div>
          </ng-template>

          <!-- User Info / Logout -->
          <nb-action class="user-info" (click)="toggleUserMenu()">
            <nb-icon icon="person-outline"></nb-icon>
            <span>Welcome, {{ userName }}</span>

            <nb-action class="logout-btn" (click)="logout()" title="Logout">
              <nb-icon icon="log-out-outline"></nb-icon>
            </nb-action>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar tag="menu-sidebar" state="expanded" responsive>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
