<nb-card>
  <nb-card-header>
    <h5>Password Settings</h5>
  </nb-card-header>

  <nb-card-body>
    <form class="password-form">

      <div class="form-row">
        <label for="currentPassword">Current Password</label>
        <input nbInput fullWidth
               type="password"
               id="currentPassword"
               [(ngModel)]="pwdChange.currentPassword"
               name="currentPassword"
               placeholder="Enter current password"/>
      </div>

      <div class="form-row">
        <label for="newPassword">New Password</label>
        <input nbInput fullWidth
               type="password"
               id="newPassword"
               [(ngModel)]="pwdChange.newPassword"
               name="newPassword"
               placeholder="Enter new password"/>
        <app-password-strength></app-password-strength>
      </div>

      <div class="form-row">
        <label for="confirmPassword">Confirm New Password</label>
        <input nbInput fullWidth
               type="password"
               id="confirmPassword"
               [(ngModel)]="confirmPassword"
               name="confirmPassword"
               placeholder="Confirm new password"/>
      </div>

      <div class="form-actions">
        <button nbButton status="primary" (click)="updatePassword()">Save</button>
      </div>

    </form>
  </nb-card-body>
</nb-card>










<!-- <div>
  <h4 class="mb-2" style="font-family: 'Varela Round', sans-serif; color: #5678a1;">Password Settings</h4>
  
  <div class="form-group">
    <label for="currentPassword">Current password</label>
    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
      [(ngModel)]="pwdChange.currentPassword" placeholder="Current password">
  </div>
  
  <div class="form-group">
    <label for="newPassword">New password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword"
      [(ngModel)]="pwdChange.newPassword" placeholder="New password">
    <app-password-strength></app-password-strength>
  </div>

  <div class="form-group">
    <label for="confirmPassword">New password confirmation</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
      [(ngModel)]="confirmPassword" placeholder="Confirm password">
  </div>

  <div class="text-right">
    <button type="button" (click)="updatePassword()" class="btn btn-primary">Save</button>
  </div>
</div> -->