.presentation-wrapper {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  max-height: 80vh;     
  overflow-y: auto;      
  box-sizing: border-box;
}

.table-of-contents {
  width: 280px;
  border-right: 2px solid #ddd;
  padding-right: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  max-height: 100%;     
}

.table-of-contents h3 {
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.table-of-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-of-contents li {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.table-of-contents li:hover {
  background: #f0f0f0;
}

.table-of-contents li.active {
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
}

.presentation-content {
  flex-grow: 1;          
  overflow-y: auto;
  max-height: 100%;    
  min-height: 400px;
}

.presentation-content pre {
  white-space: pre-wrap;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f4f8;
  border-left: 5px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.presentation-content pre.table-of-contents-content {
  line-height: 1.5;
  font-weight: 600;
  color: #333;
  background-color: #e9f2ff;
  border-left-color: #0056b3;
}

nb-card-header h4 {
  color: #3366ff; 
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formatted-slide-content strong {
  color: #586079; 
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.formatted-slide-content strong:first-child {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}




@media (max-width: 600px) {
  .presentation-wrapper {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .table-of-contents {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #ddd;
    padding-right: 0;
    padding-bottom: 15px;
    max-height: none;
  }

  .presentation-content {
    width: 100%;
    max-height: 400px; 
    overflow-y: auto; 
  }
}