<div class="presentation-wrapper" style="width: 1200px;">
  <!-- Colonne gauche : Table des matières -->
  <div class="table-of-contents">
    <h3>Slides</h3>
    <ul>
      <li (click)="goToSlide(0)">Table de matière</li>
      <li *ngFor="let section of tableOfContents" [class.active]="section.index === currentSlideIndex"
        (click)="goToSlide(section.index)">
        {{ section.title }}
      </li>
    </ul>
  </div>

  <div class="presentation-content" *ngIf="sections.length > 0" style="width: 900px">
    <pre [innerText]="formatText(sections[currentSlideIndex], currentSlideIndex === 0)"
      [class.table-of-contents-content]="currentSlideIndex === 0"></pre>
  </div>
  


</div>