img {
  border-radius: 5px;
  object-fit: cover;
}
.text-muted {
  font-size: 0.85rem;
  color: #aaa;
}

.buttons-row {
  margin: -0.5rem;
}

button[nbButton] {
  margin: 0.5rem;
}


.blur-and-disable {
  filter: blur(5px);
  pointer-events: none; 
  user-select: none; 
  transition: filter 0.3s ease;
}


.actions-column {
  display: flex;
  flex-direction: column;
  gap: none;
}

.actions-column button {
  margin-bottom: 2px; 
}


.search-bar {
  width: 200px;
  transition: width 0.3s ease;
}

.search-bar:focus {
  width: 250px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-2 {
  gap: 8px;
}


@-webkit-keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0);}
  100% {-moz-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
.spinner {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1003;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spinner div:first-child {
  display: block;
  position: relative;
  width: 150px; height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  animation: spin 2s linear infinite;
}
.spinner div:first-child:after,
.spinner div:first-child:before {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.spinner div:first-child:before {
  top: 5px; left: 5px; right: 5px; bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  animation: spin 3s linear infinite;
}
.spinner div:first-child:after {
  top: 15px; left: 15px; right: 15px; bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: spin 1.5s linear infinite;
}
