<nb-card [class.blur-and-disable]="isDialogOpen">
  <nb-card-header>
    Liste des Business Plans
  </nb-card-header>
  <nb-card-body>
    <table class="table nb-theme">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Company Start Date</th>
          <th>Country</th>
          <th>Languages</th>
          <th>Anticipated Project Size</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let businessPlan of businessPlanDto">
          <td>{{ businessPlan.companyName }}</td>
          <td>{{ businessPlan.companyStartDate }}</td>
          <td>{{ businessPlan.country }}</td>
          <td>{{ businessPlan.languages }}</td>
          <td>{{ businessPlan.anticipatedProjectSize }} {{ businessPlan.currency }}</td>
          <td class="d-flex">
            <div class="actions-column">
              <button nbButton size="tiny" status="primary" ghost (click)="openWithoutBackdrop(businessPlan)">
                <nb-icon icon="edit-outline"></nb-icon>
              </button>
              <button nbButton status="success" size="tiny" (click)="generatePresentation(businessPlan)" ghost>
                <nb-icon icon="eye-outline" pack="eva"></nb-icon>
              </button>     
            </div>

            <div class="actions-column">
              <button nbButton size="tiny" status="danger" ghost (click)="openDeleteDialog(businessPlan.id)">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
              <button nbButton size="tiny" status="info" ghost>
                <nb-icon icon="download-outline"></nb-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</nb-card>


<!--  -->



<!-- Template de confirmation -->
<ng-template #deleteDialog let-id="id" let-dialogRef="dialogRef">
  <nb-card>
    <nb-card-header class="text-danger">⚠️ Confirmation</nb-card-header>
    <nb-card-body>
      Êtes-vous sûr de vouloir supprimer cet élément ?
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end gap-2">
      <button nbButton status="basic" (click)="dialogRef.close(false)">Annuler</button>
      <button nbButton status="danger" (click)="dialogRef.close(true)">Supprimer</button>
    </nb-card-footer>
  </nb-card>
</ng-template>