<div class="container-scroller">

    <!-- -------ICI C'EST THE NAVBAR START------------>
    <!-- <app-header></app-header> -->
    <!-- -------ICI C'EST THE NAVBAR  ENDS------------>

    <div class="container-fluid page-body-wrapper">

        <!-- -------ICI C'EST THE SIDEBAR START------------>
             <app-header></app-header>

        <!-- -------ICI C'EST THE SIDEBAR START------------>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="height:auto;background:none; border: none;">
                            <div *ngIf="!loading" class="table-responsive pt-3">

                                <!-- -------ICI Table starts------------>

                                <router-outlet></router-outlet>

                                <!-- -------ICI Table ends------------>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>