<nb-card *ngIf="businessPlan">
  <nb-card-header>{{ businessPlan.title }}</nb-card-header>
  <nb-card-body>
    <p><strong>Creation Date:</strong> {{ businessPlan.creationDate | date:'longDate' }}</p>

    <h4>🧠 Generated Plan:</h4>
    <div *ngIf="businessPlan.finalContent; else noContent">
      <div *ngIf="formattedContent; else noContent" [innerHTML]="formattedContent"></div>
    </div>
    <ng-template #noContent>
      <p>No content generated.</p>
    </ng-template>
  </nb-card-body>
</nb-card>