<nb-card class="dialog-card">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body class="dialog-body">
        <form [formGroup]="formGroup">

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputCompanyName" class="label">Company Name :</label>
                        <input formControlName="companyName" type="text" nbInput placeholder="Company Name" fullWidth />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="companyStartDate" class="label">Company Start Date :</label>
                        <input nbInput formControlName="companyStartDate" placeholder="Select Date"
                            [nbDatepicker]="picker" readonly />
                        <nb-datepicker #picker></nb-datepicker>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="countrySelect" class="label">Country :</label>
                        <nb-select formControlName="country" id="countrySelect" placeholder="Select Country">
                            <nb-option *ngFor="let c of countries" [value]="c[0]">{{ c[1] }}</nb-option>
                        </nb-select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="languageSelect" class="label">Language :</label>
                        <nb-select id="languageSelect" placeholder="Select Language" formControlName="languages">
                            <nb-option *ngFor="let lang of languages" [value]="lang[0]">{{ lang[1] }}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="companyDescription" class="label">Company Description :</label>
                <textarea formControlName="companyDescription" rows="5" nbInput fullWidth shape="round"
                    placeholder="Company Description"></textarea>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="anticipatedProjectSize" class="label">Anticipated Project Size :</label>
                        <div class="full-name-inputs">
                            <input formControlName="anticipatedProjectSize" nbInput fullWidth type="number" min="0"
                                step="0.01" placeholder="0.01$" />
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label for="currency" class="label">Currency :</label>
                        <nb-select placeholder="Select Currency" formControlName="currency">
                            <nb-option *ngFor="let cur of currencies" [value]="cur[0]">{{ cur[1] }}</nb-option>
                        </nb-select>
                    </div>
                </div>
            </div>

        </form>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">

        <button nbButton status="primary" (click)="regeneratePresentation()">
            Regenerate Presentation
        </button>

        <button nbButton status="success" class="ml-2" (click)="onUpdate()">
            Update
        </button>
    </nb-card-footer>
</nb-card>