<nb-layout>
  <nb-layout-column>
    <nb-card class="creative-card">
      <nb-card-header>
        <h2>📋 Course List</h2>
      </nb-card-header>
      <nb-card-body>

        <nb-spinner *ngIf="loading" status="primary"></nb-spinner>

        <table *ngIf="!loading && trainingCourses.length" class="training-table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Summary</th>
              <th>Audience</th>
              <th>Study Class</th>
              <th>Level</th>
              <th>Instructor</th>
              <th>Duration</th>
              <th>Language</th>
              <th>Location Type</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of trainingCourses">
              <td>{{ course.title }}</td>

              <td>
                <span *ngIf="course.summary">
                    <span *ngIf="!course.showFullSummary">
                    {{ course.summary | slice:0:40 }}<span *ngIf="course.summary.length > 40">... </span>
                    <a href="#" *ngIf="course.summary.length > 40" (click)="toggleSummary(course, $event)">
                        <nb-icon icon="arrow-down-outline"></nb-icon>
                    </a>
                    </span>
                    <span *ngIf="course.showFullSummary">
                    {{ course.summary }}
                    <a href="#" (click)="toggleSummary(course, $event)">
                        <nb-icon icon="arrow-up-outline"></nb-icon>
                    </a>
                    </span>
                </span>
                </td>

              <td>{{ course.targetAudience }}</td>
              <td>{{ course.studyClass }}</td>
              <td>{{ course.level }}</td>
              <td>{{ course.instructor || 'N/A' }}</td>
              <td>{{ course.duration || 'N/A' }}</td>
              <td>{{ course.languages }}</td>
              <td>{{ course.locationType || 'N/A' }}</td>
              <td class="d-flex">
                <div class="actions-column">
                  <button nbButton size="small" status="info" ghost (click)="editCourse(course.id)">
                    <nb-icon icon="edit-outline"></nb-icon>
                  </button>
                  <button nbButton size="small" status="danger" ghost (click)="deleteCourse(course.id)">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                  </button>
                </div>
                <div class="actions-column">
                  <button nbButton size="small" status="primary" ghost (click)="viewPresentation(course)" [disabled]="course.loadingPresentation">
                    <nb-icon *ngIf="!course.loadingPresentation" icon="eye-outline"></nb-icon>
                    <div *ngIf="course.loadingPresentation" class="spinner">
                      <div class="blob blob-0"></div>
                      <div class="blob blob-1"></div>
                      <div class="blob blob-2"></div>
                      <div class="blob blob-3"></div>
                      <div class="blob blob-4"></div>
                      <div class="blob blob-5"></div>
                    </div>
                  </button>
                  <button nbButton size="small" status="warning" ghost (click)="regeneratePresentation(course)" [disabled]="course.loadingPresentation">
                    <nb-icon *ngIf="!course.loadingPresentation" icon="refresh-outline"></nb-icon>
                    <div *ngIf="course.loadingPresentation" class="spinner">
                      <div class="blob blob-0"></div>
                      <div class="blob blob-1"></div>
                      <div class="blob blob-2"></div>
                      <div class="blob blob-3"></div>
                      <div class="blob blob-4"></div>
                      <div class="blob blob-5"></div>
                    </div>
                  </button>
                </div>

                <div class="actions-column">
                  <button nbButton size="tiny" status="success" ghost (click)="evaluateCourse(course.id, 3)">
                    <nb-icon icon="smiling-face-outline"></nb-icon>
                  </button>
                  <button nbButton size="tiny" status="danger" ghost (click)="evaluateCourse(course.id, 1)">
                    <nb-icon icon="frown-outline"></nb-icon>
                  </button>
                </div>

                <div class="actions-column">
                  <button nbButton size="tiny" status="warning" ghost 
                          (click)="togglePublic(course.id, !course.publicPresentation)">
                    <nb-icon [icon]="course.publicPresentation ? 'unlock-outline' : 'lock-outline'"></nb-icon>
                  </button>
                </div>


              </td>
            </tr>
          </tbody>
        </table>

        <p *ngIf="!loading && trainingCourses.length === 0">No courses found.</p>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
