<nb-layout>

  <nb-layout-column>

            <div class="background-shapes">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
            <div class="shape shape-5"></div>
        </div>

    <div class="account-wrapper">

      <div class="profile-card">
        <nb-card>
          <nb-card-header class="profile-header">
           <nb-user [name]="currentUser.login || 'User'"
                    [title]="currentUser.email || 'No Email'"
                    [picture]="'https://bootdey.com/img/Content/avatar/avatar7.png'"
                    size="giant">
            </nb-user>

          </nb-card-header>

          <nb-card-body>
            <div class="about-section">
              <h5>About Me</h5>
              <p>Full Name: {{ currentUser.firstName }} {{ currentUser.lastName }}</p>
              <p>Profile created on: {{ currentUser.createdDate | date:'dd/MM/yyyy HH:mm' }}</p>
              <p>Roles in Slide Forge:</p>
                <h5 *ngFor="let authority of currentUser.authorities">{{ authority }}</h5>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="details-card">
        <nb-card>
          <nb-card-header>
            <h5>Profile</h5>
          </nb-card-header>

          <nb-card-body>
            <div class="personal-form">
              <div class="form-row">
                <label>First Name</label>
                <input nbInput fullWidth [(ngModel)]="currentUser.firstName" placeholder="Enter first name"/>
              </div>

              <div class="form-row">
                <label>Last Name</label>
                <input nbInput fullWidth [(ngModel)]="currentUser.lastName" placeholder="Enter last name"/>
              </div>

              <div class="form-row">
                <label>Email</label>
                <input nbInput fullWidth [(ngModel)]="currentUser.email" placeholder="Enter email"/>
              </div>

              <div class="form-actions">
                <button nbButton status="primary" (click)="update()">Save</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
