<div class="row">
  <div *ngFor="let plan of businessPlanDto | paginate: { itemsPerPage: 6, currentPage: page }" class="col-md-4 mb-4">
    <nb-card class="shadow">
      <nb-card-body>
        <h4>{{ plan.title }}</h4>
        <p class="text-muted">Créé le : {{ plan.creationDate | date: 'longDate' }}</p>
    <button nbButton status="primary" size="small" (click)="generatePresentation(plan)">Voir</button>
 </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>