<div class="row">
    <div class="col-lg-13">
        <nb-card>
            <nb-card-header>
                <div class="d-flex justify-content-between align-items-center">
                    <span>Create A New Business Plan</span>
                    <a nbButton size="tiny" status="info" ghost [routerLink]="'/home/businessPlan/listBusinessPlan'"
                        nbTooltip="View all business plans" nbTooltipPlacement="bottom">
                        <nb-icon icon="list-outline"></nb-icon>
                    </a>
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="businessPlanForm">

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="inputCompanyName" class="label">Company Name :</label>
                                <input formControlName="companyName" type="text" nbInput placeholder="Company Name"
                                    fullWidth />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="companyStartDate" class="label">Company Start Date :</label>
                                <input nbInput formControlName="companyStartDate" placeholder="Select Date"
                                    [nbDatepicker]="picker" readonly />
                                <nb-datepicker #picker></nb-datepicker>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="countrySelect" class="label">Country :</label>
                                <nb-select formControlName="country" id="countrySelect" placeholder="Select Country">
                                    <nb-option *ngFor="let c of countries" [value]="c[0]">{{ c[1] }}</nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="languageSelect" class="label">Language :</label>
                                <nb-select formControlName="languages" id="languageSelect" placeholder="Select Language">
                                    <nb-option *ngFor="let lang of languages" [value]="lang[0]">{{ lang[1] }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="companyDescription" class="label">Company Description :</label>
                        <textarea formControlName="companyDescription" rows="5" nbInput fullWidth shape="round"
                            placeholder="Company Description"></textarea>
                    </div>

                    <div class="buttons-row">
                        <button type="button" (click)="submit()" nbButton status="primary">Generate Presentation</button>
                    </div>
                </form>
            </nb-card-body>


        </nb-card>
    </div>

</div>